<div class="container col-xs-4 col-sm-offset-4 profile">

  <h3>Seller profile </h3>
  Speed  : <%= rating_for @user, "speed" %>
  <%= image_tag @user.image.url(:medium),class: "profile_img" %>
  <div style = "margin-top:20px;">
  <p> <h3 class = "center"> <%= @user.name %> </h3></p>
  <p> Place: <%= @user.place %></p>
  <p> About me: <%= @user.aboutme %></p>
  <p> Phone: <%= @user.phone %></p>
</div>
  <% if current_seller %>
  <p> <%= link_to 'Edit Profile', profiles_edit_path %></p>
  <% end %>

  <h3> Reviews </h3>
<ul>
<% @reviews.each do |review|%>

<li> <%= review.description %></li>
<% end %>
</ul>

<%= link_to "Write a review ", new_review_path(:seller_id => @user.id),class: "btn btn-primary", id: "review" %>
</div>