
<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @car.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @car.price %>
</p>
<% if user_signed_in? %>
  <%= link_to 'Order This Car',car_order_car_path(@car.id), class: "btn btn-primary", name: 'Order This Car', id: 'prem' %>
<% else %>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
<% end %>
